/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/.DS_Store
app/Http/.DS_Store
app/Services/.DS_Store
bootstrap/.DS_Store
database/.DS_Store
nginx/.DS_Store
php/.DS_Store
public/.DS_Store
public/vendor/.DS_Store
resources/.DS_Store
resources/json/.DS_Store
resources/lang/.DS_Store
storage/.DS_Store
storage/framework/.DS_Store
tests/.DS_Store
.DS_Store
